@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    color: #fff;
}

body{
    background-image: url('./assets/fundo.png');
    background-size: cover;
}

a{
    text-decoration: none;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 40%;
    height: auto;
}

.logo-txt{
    font-family: 'Star Wars', sans-serif;
    font-size: 1rem;
    color: white;
}

.social-media{
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

i{
    font-size: 1.2rem;
}

i:hover{
    color: gold;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

h2{
    font-family: 'Star Wars', sans-serif;
    margin-bottom: 20px;
    color: gold;
    font-weight: 300;
    text-align: center;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
}

.cards{
    width: 230px;
    height: 470px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

.cards:hover{
    transform: scale(1.02);
}

.character-name-bg{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.character-name{
    font-family: 'Star Wars', sans-serif;
    color: gold;
    font-size: 1rem;
}

.buttons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.3x;
}

#back-button{
    visibility: hidden;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 40px 0 20px 0;
}

.footer-logo{
    font-family: 'Star Wars', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.copyrigth{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: white;
}

.modal{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.modal-content{
    width: 25vw;
    height: 70vh;
    background-color: #0d0d0d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
}

.character-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: 50% 10%;
    background-size: cover;
}

.character-details{
    font-family: "Star Wars", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: gold;
}

@media screen and (max-width: 1920px){
    .logo{
        padding: 0 0 0 10px;
    }

    .logo-txt{
        font-size: 18px;
        padding-left: 50px;
        color: #fff;
    }

    .social-media{
        visibility: visible;
        width: 130px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .main-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
    }

    .cards{
        width: 280px;
        height: 490px;
    }

    .buttons{
        justify-content: space-between;
    }
    
    .footer-social-media{
        width: 250px;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .footer-logo{
        font-size: 19px;
        font-weight: 300;
        color: gold;
    }
    
    .copyrigth{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    
    .modal-content{
        width: 35vw;
        height: 55vh;
    }
    
    .character-details{
        font-size: 16px;
    }
}

@media screen and (max-width: 900px){
    .logo{
        padding: 0 0 0 10px;
    }

    .logo-txt{
        font-size: 18px;
        padding-left: 50px;
        color: #fff;
    }

    .social-media{
        visibility: visible;
        width: 130px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .main-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
    }

    .cards{
        width: 280px;
        height: 490px;
    }

    .buttons{
        justify-content: space-between;
    }
    
    .footer-social-media{
        width: 250px;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .footer-logo{
        font-size: 19px;
        font-weight: 300;
        color: gold;
    }
    
    .copyrigth{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    
    .modal-content{
        width: 40vw;
        height: 45vh;
    }
    
    .character-details{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    header{
        height: 50px;
        padding: 0 0 0 50px;
    }

    .logo{
        width: 190px;
        padding: 0 0 0 10px;
    }

    .logo-txt{
        font-size: 18px;
        padding-left: 50px;
        color: #fff;
    }

    .social-media{
        visibility: hidden;
    }

    h2{
        margin-bottom: 20px;
        color: gold;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
    }

    .cards{
        width: 260px;
        height: 500px;
    }

    .buttons{
        justify-content: space-between;
    }
    
    .footer-social-media{
        width: 250px;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .footer-logo{
        font-size: 19px;
        font-weight: 300;
        color: gold;
    }
    
    .copyrigth{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    
    .modal-content{
        width: 70vw;
        height: 60vh;
    }
    
    .character-details{
        font-size: 16px;
    }
}

@media print and (color) {
    body {
       -webkit-print-color-adjust: exact;
       print-color-adjust: exact;
    }

    .logo-txt{
        color: #000;
    }
    
    .fa-instagram{
        color: #000;
    }

    .fa-facebook-f{
        color: #000;
    }

    .fa-github{
        color: #000;
    }

    .fa-linkedin-in{
        color: #000;
    }

    .footer-social-media{
        visibility: hidden;
    }

    .footer-logo{
        color: #000;
    }
    
    .copyrigth{
        color: #000;
    }

    .modal-content{
        width: 55vw;
        height: 55vh;
    }

 }